%span{:style => "background-color:white"}
  %span{:style => "color:#CB4B4B"}<
    S
  %span{:style => "color:#4694DE"}><
    e
  %span{:style => "color:#4DA74D"}><
    g
  %span{:style => "color:#9440ED"}><
    m
  %span{:style => "color:#CB4B4B"}><
    e
  %span{:style => "color:#4694DE"}><
    n
  %span{:style => "color:#4DA74D"}><
    t
  %span{:style => "color:#9440ED"}><
    s